<section fxLayout="column" fxLayoutAlign="center center">
  <h1 mat-dialog-title>Are you sure?</h1>
  <div mat-dialog-content>
    You already got {{ passedData.progress }}% of progress
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">YES</button>
    <button mat-button [mat-dialog-close]="false">NO</button>
  </div>
</section>
