<section fxLayoutAlign="center">
  <mat-card class="newTraining-card" fxFlex="400px" fxFlex.sm="100%">
    <mat-card-title fxLayoutAlign="center">
      Time to start a workout
    </mat-card-title>
    <mat-card-subtitle fxLayoutAlign="center">
      Type of workout
    </mat-card-subtitle>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field appearance="fill">
        <mat-label>Workout list</mat-label>
        <mat-select>
          <mat-option value="crunches"> Crunches </mat-option>
          <mat-option value="touch-toes"> Touch Toes </mat-option>
          <mat-option value="side-lunges"> Side Lunges </mat-option>
          <mat-option value="burpees"> Burpees </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-button type="submit" (click)="onStartTraining()">
        START
      </button>
    </mat-card-actions>
  </mat-card>
</section>
