<div>
  <mat-nav-list>
    <section>
      <div mat-subheader>Navigation</div>
      <a mat-list-item routerLink="signup" (click)="closeSideNav.emit()">
        <mat-icon mat-list-icon>face</mat-icon>
        <span mat-line>Signup</span>
      </a>
      <a mat-list-item routerLink="login" (click)="closeSideNav.emit()">
        <mat-icon mat-list-icon>login</mat-icon>
        <span mat-line>Login</span>
      </a>
      <a mat-list-item routerLink="training" (click)="closeSideNav.emit()">
        <mat-icon mat-list-icon>fitness_center</mat-icon>
        <span mat-line>Training</span>
      </a>
      <a mat-list-item routerLink="logout" (click)="closeSideNav.emit()">
        <mat-icon mat-list-icon>logout</mat-icon>
        <span mat-line>Logout</span>
      </a>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div mat-subheader>Folders</div>
      <mat-list-item *ngFor="let folder of folders">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>{{ folder.name }}</div>
        <div mat-line>{{ folder.updated | date }}</div>
      </mat-list-item>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div mat-subheader>Notes</div>
      <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>{{ note.name }}</div>
        <div mat-line>{{ note.updated | date }}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </section>
    <section>
      <div mat-subheader>Options</div>
      <a mat-list-item>
        <span>Setting</span>
      </a>
      <a mat-list-item>
        <span>Language</span>
      </a>
      <a mat-list-item>
        <span>Help</span>
      </a>
      <a mat-list-item>
        <span>Comments</span>
      </a>
    </section>
  </mat-nav-list>
</div>
