<section fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-spinner
    class="spinner"
    [color]="color"
    mode="determinate"
    [value]="value"
  >
  </mat-progress-spinner>
  <h1>{{ value }}%</h1>
  <p>Keep on going, you can do it</p>
  <button
    mat-raised-button
    color="accent"
    (click)="onStop()"
    [disabled]="disableButton"
  >
    Stop
  </button>
</section>
