mat-toolbar {
  font-weight: 500;
  font-size: medium;
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover,
a:active {
  color: rgb(100, 99, 99);
}
