<mat-toolbar>
  <button mat-icon-button (click)="onClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <div fxFlex fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="25px" class="navigation-items">
      <li><a routerLink="/signup">Signup</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/training">Training</a></li>
    </ul>
  </div>
</mat-toolbar>
