<section class="formSection">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Your email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')">
        Field must not be empty
      </mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">
        Email is invalid
      </mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input
        matInput
        type="password"
        placeholder="Your password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel"
      />
      <mat-hint align="end"> {{ pwInput!.value.length }} /6</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Your birthday</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="birthday"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <section>
      <mat-checkbox ngModel name="agree" required color="primary">
        Agree to terms and conditions
      </mat-checkbox>
    </section>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!f.valid"
    >
      Submit
    </button>
  </form>
</section>
