<!-- <h1>This is material demo</h1>

<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<button mat-raised-button color="primary">
  <mat-icon>alternate_email</mat-icon>
  Email
</button> -->

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-sidenav-list (closeSideNav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav position="end">End</mat-sidenav>
  <mat-sidenav-content>
    <app-header (hideSideNav)="sidenav.toggle()"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-speed-dial-fab></app-speed-dial-fab>
