.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

div {
  display: flex; 
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 5px;
}


button {
  margin-bottom: 17px;
}

.fab-toggler {
  float: right;
  z-index: 100;
}

