<mat-tab-group mat-align-tabs="center" *ngIf="!ongoingTraining">
  <mat-tab label="New Exercise">
    <app-new-training
      (trainingStart)="ongoingTraining = true"
    ></app-new-training>
  </mat-tab>
  <mat-tab label="Past Exercises">
    <app-past-training></app-past-training>
  </mat-tab>
</mat-tab-group>
<app-current-training
  *ngIf="ongoingTraining"
  (trainingExit)="ongoingTraining = false"
></app-current-training>
